spring:
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    placeholders:
      interval30: "DATEADD('DAY', 30, NOW())"
  datasource:
    url: jdbc:h2:mem:examdb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    username: sa
    password: ''
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: false
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
  jackson:
    serialization:
      write-dates-as-timestamps: false

server:
  error:
    include-message: always

app:
  apis:
    bitfrost:
      tag: ase-14-examoffice
      secret: ${BITFROST_TOPIC_EXAM_OFFICE_SECRET:notaSecret}
      baseurl: https://bitfrost.sau-portal.de/api/v1/messages/publish
    feedback-service:
      baseurl: https://sau-portal.de/exa-grad/grading-service/api/v1
    student-service:
      baseurl: https://sau-portal.de/team-11-api/api/v1
